<table class ="table">
  <tr>
    <th>Active Prices</th>
    <th>Quantity</th>
    <th>Date</th>
  </tr>

<% purchases.each do |p| %>
  <tr>
    <td><%= link_to p.item.name, item_path(p.item_id) %></td>
    <td><%= p.quantity%> </td>
    <td><%= p.date.strftime("%m/%d/%y") %> </td>
  </tr>
<% end %>
</table>




<br />
