<h2 class = "title">Managers</h2>

<% unless @managers.nil? || @managers.empty? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="250">Name</th>
        <th width="125">Email</th>

      </tr>
    </thead>
    <tbody>
      <% @managers.each do |c| %>
        <tr>
          <td><%= link_to c.proper_name, user_path(c) %></td>
          <td><%= c.email %></td>

        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>There are no managers at this time</p>
<% end %>
