<div class = "container">
  <div class = "section">
    <p class = "title is-3">Welcome Back <%= current_user.first_name%> </p>

    <div class = "columns">

      <div class = "column is-6">

        <div class="tabs is-small">
            <ul>
              <li class = "is-active"><a>Unshipped Orders</a></li>
              <li><a>Past Orders</a></a></li>
            </ul>
          </div>

          <%= render 'users_orders'%>



      </div>
      <div class = "column is-6">
        <%= render 'user_form2'%>

      </div>
    </div>
  </div>
</div>
