<div class = "container">
  <div class = "section">
    <h2 class = "title">Customers</h2>

    <% unless @customers.nil? || @customers.empty? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th width="250">Name</th>
            <th width="125">Email</th>

          </tr>
        </thead>
        <tbody>
          <% @customers.each do |c| %>
            <tr>
              <td><%= link_to c.proper_name, user_path(c) %> </td>
              <td><%= c.email %></td>

            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>There are no customers at this time.</p>
    <% end %>


  </div>
</div>
