<%= render partial: 'partials/hero' %>


<div class = "section">

  <div class="columns">
    <!-- <div class = "column is-1">
    </div> -->
    <div class = "column is-10 is-offset-1">
      <div class = "columns">
      <div class="column is-one-third">
        <h1 class = "title">Customers Love Us</h1>
        <p>
          With incredibly fast customer service, a clean ecommerce site, and always reducing prices, customers are always satisfied here at A+M. For the past three years we have won first in the 67-272 Customer Service Awards. If you have any questions, feel free to email us here.
        </p>
      </div>
      <div class="column">
        <h1 class = "title">Easy Shipping</h1>
        <p>
          Shipping is simple here at A+M! Any order under 3lbs is a flat rate of $5. We provide a speedy delivery and guarantee quality on your doorstep or your money back. You can even cancel your order before the items ship out.
        </p>
      </div>
      <div class="column">
        <h1 class = "title">Quality Products</h1></h1>
        <p>
          All products are from quality wholesale producers. Each item is made in an energy efficient factory as well. We only select products made with the best materials and from the best sources. If the quality of our product is not up to your standard, we guarantee money back.
      </div>
      </div>
    </div>
  </div>


</div>

<section class="hero is-medium is-light is-bold">
<div class="hero-body">
  <div class="container">
    <!-- <div class = "columns">
      <div class = "column is-5"> -->
        <h1 class="title">
          The History of AM Chess Store
        </h1>

          This chess store was founded by brothers Alex and Mark. Inspired by their fathers love for chess, they sought to bring a new fluid application for schools to order new chess supplies. With cutting edge prices and the largest selection there is, AM Chess Store is the place for all your goods.
        <!--
      </div>
    </div> -->

  </div>
</div>
</section>

<div class = "section">
  <div class = "content">
    
  </div>
</div>
