<div class = "container">
	<div class = "section">

				<h2>Contact AM Chess Store</h2>
				<p class="supertiny">&nbsp;</p>
				<table cellpadding="3">
					<tr>
						<td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
						<td>Julia Luo</td>
					</tr>
					<tr>
						<td>Email:</td>
						<td>
						<%= mail_to("julialuo@andrew.cmu.edu", "julialuo@andrew.cmu.edu", :encode => "javascript") %>
						</td>
					</tr>
					<tr>
						<td>Phone:</td>
						<td>412-268-8211</td>
					</tr>
				</table>

				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>


	</div>
</div>
